<p id="notice"><%= notice %></p>

<h1>Turma</h1>

<table>
  <thead>
    <tr>
      <th>Registro</th>
      <th>Horario da aula</th>
      <th>Dia</th>
      <th>Professor</th>
      <th>Disciplina</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.registration %></td>
        <td><%= classroom.class_time %></td>
        <td><%= classroom.day %></td>
        <td><%= classroom.teacher.name %></td>
        <td><%= classroom.subject.name %></td>
        <td><%= classroom.period.name %></td>
        <td><%= link_to 'ver mais informações', classroom %></td>
        <% if can? :manager, Classroom%>
          <td><%= link_to 'Editar'        , edit_classroom_path(classroom) %></td>
          <td><%= link_to 'excluir', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Classroom%>
  <%= link_to 'Nova Turma', new_classroom_path %>
  <%= link_to 'Adicionar aluno a uma turma',new_classroom_student_path%>
<% end %>