<p id="notice"><%= notice %></p>

<p>
  <strong>Registro:</strong>
  <%= @classroom.registration %>
</p>

<p>
  <strong>Horario da aula:</strong>
  <%= @classroom.class_time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @classroom.day %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @classroom.teacher.name %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @classroom.subject.name %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @classroom.period.name %>
</p>
<h3>Essa turma tem os seguintes alunos</h3>
<% for classroom_student in @classroom.classroom_students%>
  <%= Student.find_by(id: classroom_student.classroom_id).name%>
  <%= link_to  "deletar", classroom_student,method: :delete %>
<%end%>
<br/>
<% if can? :manager, @classroom%>
  <%= link_to 'Edit     r', edit_classroom_path(@classroom) %> |
<% end %>
<%= link_to  'voltar', classrooms_path %>
