<%= form_with(model: lession, local: true) do |form| %>
  <% if lession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lession.errors.count, "error") %> prohibited this lession from being saved:</h2>

      <ul>
      <% lession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lession_date %>
    <%= form.date_select :lession_date %>
  </div>

  <div class="field">
    <%= form.label :lession_time %>
    <%= form.time_select :lession_time %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.select :classroom_id, @classrooms.collect { |classroom| [classroom.registration, classroom.id]}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
