<p id="notice"><%= notice %></p>

<h1>Aula</h1>

<table>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horario</th>
      <th>Turma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessions.each do |lession| %>
      <tr>
        <td><%=l lession.lession_date %></td>
        <td><%=l lession.lession_time %></td>
        <td><%= lession.classroom.registration  %></td>
        <td><%= link_to 'ver mais sobre', lession %></td>
        <% if can? :manager, Lession%>
        <td><%= link_to 'Editar', edit_lession_path(lession) %></td>
        <td><%= link_to 'excluir', lession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Lession%>
  <%= link_to 'Nova Aula', new_lession_path %>
<% end %>