<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @lession.lession_date %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @lession.lession_time %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @lession.classroom.registration %>
</p>
<h3>Essa aula terá os seguintes alunos: </h3>
<% for lession_student in @lession.lession_students%>
  <%= Student.find_by(id: lession_student.lession_id).name%>
  <%= link_to  "deletar", lession_student,method: :delete %>
<%end%>
<br/>
<% if can? :manager, @lessions%>
  <%= link_to 'Editar', edit_lession_path(@lession) %> |
<% end %>
<%= link_to  'voltar', lessions_path %>
