<p id="notice"><%= notice %></p>

<h1>Aluno</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.course.name %></td>
        <td><%= student.age %></td>
        <td><%= link_to 'ver mais sobre', student %></td>
        <% if can? :manager, Student%>
          <td><%= link_to 'Editar', edit_student_path(student) %></td>
          <td><%= link_to 'excluir', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Student%>
  <%= link_to 'Novo Estudante', new_student_path %>
  <%= link_to 'Adicionar aula ao alunno', new_lession_student_path%>
<% end %>