<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @student.age %>
</p>
<h3> As turma desse aluno:</h3>
<% for classroom_student in @student.classroom_students%>
  <%= Classroom.find_by(id: classroom_student.classroom).registration%>
  <%= link_to  "deletar", classroom_student,method: :delete %>
<%end%>
<br/>



<h3>As aulas desse aluno serão:</h3>
<% for lession_student in @student.lession_students%>
  <%=l Lession.find_by(id: lession_student.lession_id).lession_date%>
  <%= link_to  "deletar", lession_student,method: :delete %>
<%end%>
<br>
<% if can? :manager, @student%>
  <%= link_to 'Editar', edit_student_path(@student) %> |
<% end %>
<%= link_to  'voltar', students_path %>
