<p id="notice"><%= notice %></p>

<h1>Periodo</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de inicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.start_date %></td>
        <td><%= link_to 'ver mais sobre', period %></td>
        <% if can? :manager, Period%>
          <td><%= link_to 'Editar', edit_period_path(period) %></td>
          <td><%= link_to 'excluir', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Period%>
  <%= link_to 'Novo Periodo', new_period_path %>
<%end%>