<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @period.name %>
</p>

<p>
  <strong>Data de inicio:</strong>
  <%= @period.start_date %>
</p>

<h3>Turma </h3>
<% for classroom in @period.classrooms%>
  <p> <%= classroom.registration%> </p>
<%end%>
<% if can? :manager, @period%>
  <%= link_to  "nova turma", new_classroom_path %>
  <%= link_to 'Editar', edit_period_path(@period) %> |
<% end %>
<%= link_to  'voltar', periods_path %>
