
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <% if current_user.admin?%>
  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind,user_kind_option_with_admin %>
  </div>
  <% else %>
  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind,user_kind_option %>
  </div>
  <% end %>
  
  <div class="field">
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= form.file_field :avatar %>
    <%= form.hidden_field :avatar_cache %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
