<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
<%= paginate @users %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'mais informações', user %></td>
        <% if can? :manager,current_user%>
        <td><%= link_to 'Editar ', edit_user_path(user) %></td>
        <td><%= link_to  "Excluir", user, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<br>

