<p id="notice"><%= notice %></p>

<p>
  
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<%= image_tag(@user.avatar_url) if @user.avatar? %>

<% if can? :update, @user %>
  <%= link_to 'Editar ', edit_user_path(@user) %> |
<%end%>
<%= link_to 'Voltar', users_path %>
