<p id="notice"><%= notice %></p>

<h1>Departamento</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.code %></td>
        <td><%= department.address %></td>
        <td><%= link_to 'ver mais sobre', department %></td>
        <% if can? :manager, Department%>
          <td><%= link_to 'Editar', edit_department_path(department) %></td>
          <td><%= link_to 'excluir', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Department%>
  <%= link_to 'Novo Departamento', new_department_path %>
<% end %>