<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @department.code %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @department.address %>
</p>

<h3>Professores</h3>

<% for teacher in @department.teachers %>
  <p><%= teacher.name %></p>
<% end %>


<h3>Cursos</h3>

<% for course in @department.courses %>
  <p><%= course.name %></p>
<% end %>


<h3>Materias</h3>


<% for subject in @department.subjects %>
  <p><%= subject.name %></p>
<% end %>
<% if can? :manager, @department%>
  <%= link_to  "novo professor", new_teacher_path %>
  <%= link_to  "subject", new_subject_path %>
  <%= link_to  "curso", new_course_path %>
  <%= link_to 'Editar', edit_department_path(@department) %> |
<% end %>
<%= link_to  'voltar', departments_path %>
