<%= form_with(model: subject_course, local: true) do |form| %>
  <% if subject_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject_coursee from being saved:</h2>

      <ul>
      <% subject_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
     <%= form.label :course %>
    <%= form.select :course_id, @courses.collect{ |course| [course.name, course.id]}  %>
  </div>

  <div class='field'>
     <%= form.label :subject %>
    <%= form.select :subject_id, @subjects.collect{ |subject| [subject.name, subject.id]}  %>
  </div>


  <div class='actions'>
    <%= form.submit%>
  </div>
  <% end %>