<%= form_with(model: equivalence, local: true) do |form| %>
  <% if equivalence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this equivalence from being saved:</h2>

      <ul>
      <% equivalence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
     <%= form.label :subject %>
    <%= form.select :subject_id, @subjects.collect{ |subject| [subject.name, subject.id]}  %>
  </div>

  <div class='field'>
     <%= form.label :subject %>
    <%= form.select :discipline_id, @subjects.collect{ |subject| [subject.name, subject.id]}  %>
  </div>


  <div class='actions'>
    <%= form.submit%>
  </div>
  <% end %>