<p id="notice"><%= notice %></p>

<h1>Disciplina</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.registration %></td>
        <td><%= subject.department.name %></td>
        <td><%= link_to 'ver mais sobre', subject %></td>
        <% if can? :manager,Subject%>
          <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
          <td><%= link_to 'excluir', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager,Subject%>
  <%= link_to 'Nova Disciplina', new_subject_path %>
  <%=link_to 'Nova materia equivalente', new_equivalence_path%>
<%end%>