<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @subject.registration %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @subject.department.name %>
</p>

<h3>Turmas </h3>
<% for classroom in @subject.classrooms%>
  <p><%= classroom.registration%></p>
<%end%>

<h3>Essa materia tem nos cursos: </h3>
<% for subject_course in @subject.subject_courses%>
  <%= Course.find_by(id: subject_course.course_id).name%>
  <%= link_to  "deletar", subject_course,method: :delete %>
  <br>
<%end%>
<br/>


<h3>Esssa materia é equivalente a: </h3>

<% for equivalence in Equivalence.where(subject_id: @subject.id) %>
  <div>
    <% aux=Subject.find_by(id: equivalence.discipline_id)%>
    <%= aux.name%>
    <%= link_to  "deletar", equivalence,method: :delete %>
  </div>
<% end %>

<% for equivalence in Equivalence.where(discipline_id: @subject.id) %>
  <div>
    <% aux=Subject.find_by(id: equivalence.subject_id)%>
    <%= aux.name%>
    <%= link_to  "deletar", equivalence,method: :delete %>
  </div>
<% end %>


<% if can? :manage, @subject%>
  <%= link_to 'Editar', edit_subject_path(@subject) %> |
<% end %>
<%= link_to  'voltar', subjects_path %>
