<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= form.hidden_field :name %>
  </div>

  <div class="field">
    <%= form.label :registration %>
    <%= form.text_field :registration %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.select:department_id, @departments.collect { |department| [department.name, department.id] } %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.select :user_id, @users.collect { |user| [user.email, user.id] }  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
