
<p id="notice"><%= notice %></p>

<h1>Professor</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Idade</th>
      <th>Departamentoo</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.registration %></td>
        <td><%= teacher.age %></td>
        <td><%= teacher.department.name %></td>
        <td><%= teacher.user.name %></td>
        <td><%= link_to 'ver mais sobre', teacher %></td>
        <% if can? :manager, Teacher%>
          <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
          <td><%= link_to 'excluir', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manager, Teacher%>
  <%= link_to 'Novo Professor', new_teacher_path %>
<% end %>