<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @teacher.registration %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @teacher.department.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user.name %>
</p>
<h3>Turmas</h3>
<% for classroom in @teacher.classrooms%>
  <%=classroom.registration%>

<% end %>
<% if can? :manager, @teacher%>
  <%= link_to 'Editar', edit_teacher_path(@teacher) %> |
<% end %>
<%= link_to  'voltar', teachers_path %>
