<%= form_with(model: classroom_student, local: true) do |form| %>
  <% if classroom_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this classroom_studente from being saved:</h2>

      <ul>
      <% classroom_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
     <%= form.label :classroom %>
    <%= form.select :classroom_id, @classrooms.collect{ |classroom| [classroom.registration, classroom.id]}  %>
  </div>

  <div class='field'>
     <%= form.label :student %>
    <%= form.select :student_id, @students.collect{ |student| [student.name, student.id]}  %>
  </div>


  <div class='actions'>
    <%= form.submit%>
  </div>
  <% end %>