<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.registration %></td>
        <td><%= course.department.name %></td>
        <td><%= link_to 'ver mais sobre', course %></td>
        <%if can? :manager, Course%>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'excluir', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manager, Course%>
<%= link_to 'Novo Curso', new_course_path %>
<%= link_to 'Adicionar materia ao curso', new_subject_course_path%>
<%end%>
