<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @course.registration %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @course.department.name %>
</p>

<h3>Essa curso tem as disciplinas: </h3>
<% for subject_course in @course.subject_courses%>
  <%= Subject.find_by(id: subject_course.subject_id).name%>
  <%= link_to  "deletar", subject_course,method: :delete %>
<%end%>
<br/>


<h3>Alunos</h3>
<% for student in @course.students%>
  <p><%=student.name%></p>
<% end %>
<%if can? :manager,@course%>
  <%= link_to  "novo aluno", new_student_path %>
  <%= link_to 'Editar', edit_course_path(@course) %>|
<%end%>

<%= link_to  'voltar', courses_path %>
