<%= form_with(model: lession_student, local: true) do |form| %>
  <% if lession_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this lession_studente from being saved:</h2>

      <ul>
      <% lession_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
     <%= form.label :lession %>
    <%= form.select :lession_id, @lessions.collect{ |lession| [lession.lession_date, lession.id]}  %>
  </div>

  <div class='field'>
     <%= form.label :student %>
    <%= form.select :student_id, @students.collect{ |student| [student.name, student.id]}  %>
  </div>


  <div class='actions'>
    <%= form.submit%>
  </div>
  <% end %>