<!DOCTYPE html>
<html>
  <head>
    <title>Faculdade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        
  </head>

  <body>
    <%= link_to  "professor", teachers_path %> |
    <%= link_to  "aluno", students_path %> |
    <%= link_to  "departamento", departments_path %> |
    <%= link_to  "turma", classrooms_path %> |
    <%= link_to  "aula", lessions_path %> |
    <%= link_to  "periodo", periods_path %> |
    <%= link_to  "usuarios", users_path %> |
    <%= link_to "cursos", courses_path%> |
    <%= link_to  "materias", subjects_path %> |
    <% if user_signed_in?%>
      <%= link_to  "Seu perfil", user_path(current_user) %> |
      <%=link_to 'logout', destroy_user_session_path,method: :delete%>
    <% else %>
      <%= link_to  "login", new_user_session_path %>
    <% end %>



    <%= yield %>
  </body>
</html>
